[submodule "app/src/main/cpp/openvpn/openvpn"]
	path = app/src/main/cpp/openvpn/openvpn
	url = https://github.com/schwabe/openvpn.git

[submodule "app/src/main/cpp/openvpn/openssl"]
	path = app/src/main/cpp/openvpn/openssl
	url = https://github.com/schwabe/platform_external_openssl.git

[submodule "app/src/main/cpp/openvpn/mbedtls"]
	path = app/src/main/cpp/openvpn/mbedtls
	url = https://github.com/ARMmbed/mbedtls.git

[submodule "app/src/main/cpp/openvpn/openvpn3"]
	path = app/src/main/cpp/openvpn/openvpn3
	url = https://github.com/schwabe/openvpn3.git

[submodule "app/src/main/cpp/openvpn/asio"]
	path = app/src/main/cpp/openvpn/asio
	url = https://github.com/chriskohlhoff/asio.git

[submodule "app/src/main/cpp/openvpn/lz4"]
	path = app/src/main/cpp/openvpn/lz4
	url = https://github.com/lz4/lz4.git

[submodule "app/src/main/cpp/openvpn/fmt"]
	path = app/src/main/cpp/openvpn/fmt
	url = https://github.com/fmtlib/fmt

[submodule "app/src/main/cpp/wireguard/wireguard-tools"]
	path = app/src/main/cpp/wireguard/wireguard-tools
	url = https://git.zx2c4.com/wireguard-tools

[submodule "app/src/main/cpp/wireguard/elf-cleaner"]
	path = app/src/main/cpp/wireguard/elf-cleaner
	url = https://github.com/termux/termux-elf-cleaner

