*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
build/
openvpn/libs/
openvpn/ovpnlibs/
openvpn/obj/
openvpn/.cxx/
.navigation
google-breakpad/
ovpn3/boost
polarssl
proguard-project.txt
build.xml
cache.properties

# User-specific configurations
.idea

openvpn/openvpn3


openvpn/src/ovpn3/java/net/openvpn/ovpn3
openvpn/.externalNativeBuild
openvpn/.cxx
openvpn/build
openvpn/src/main/cpp/openvpn
openvpn/src/main/cpp/openssl
openvpn/src/main/cpp/mbedtls
openvpn/src/main/cpp/openvpn3
openvpn/src/main/cpp/asio
openvpn/src/main/cpp/lz4
openvpn/src/main/cpp/fmt
wireguard/tools/wireguard-tools
wireguard/tools/elf-cleaner
.synopsys
polaris.yml
.coverity
idir

test.local.conf
.kotlin
